{% if total_games == 0 %}
    <p>
        <span class="TODO">{{ username }}</span>,
        you haven't played rapid or faster on Lichess. You may be a dirty flagger, but you're going to have to prove it.
    </p>
{% elif dirty_flags == 0 %}
    <p>
        <span class="TODO">{{ username }}</span>,
        you're a <span class="TODO">goody two-shoes!</span> You've never dirty flagged in your Lichess career.
    </p>
{% elif dirty_flags < total_games %}
    <p>
        <span class="TODO">{{ username }}</span>,
        you're a <span class="TODO">
            {% if dirty_flag_percentage < 2 %}
                dirty flag debutant.
            {% elif dirty_flag_percentage < 5 %}
                dirty flag dabbler.
            {% elif dirty_flag_percentage < 10 %}
                dirty flag enjoyer.
            {% elif dirty_flag_percentage < 20 %}
                dirty flag aficionado.
            {% elif dirty_flag_percentage < 50 %}
                dirty flag veteran.
            {% else %}
                dirty flagger extraordinaire!
            {% endif %}
        </span> 
    </p>
    <p>
        You've dirty flagged in
        <em>
        {{ dirty_flags_string }}
        {% if dirty_flags == 1 %}
            game</em>.
        {% else %}
            games</em>.
        {% endif %}
        That's 
        {% if dirty_flag_percentage == 0 %}
            less than 1%
        {% else %}
            {{ dirty_flag_percentage_string }}
        {% endif %}
        of the {{ total_games_string }} games you've played.
    </p>
{% else %}
    <p>
        <span class="TODO">{{ username }}</span>... What? You've dirty flagged in every single game you've played? You're a <span class="TODO">dirty flagging machine!</span>
    </p>
{% endif %}
