<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dirty Flag</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Are you a <br> <span class="outrun">dirty flagger?</span></h1>

        {% if username is none %}
            <p>
                See how often you dirty flag your opponents.
            </p>
            <a href="{{ url_for('login') }}">Login to Lichess</a>
        {% else %}
            <div id="dirty-flag-data">Loading...</div>

            <script type="text/javascript">
                async function getDirtyFlagSummary() {
                    try {
                        const response = await fetch("{{ url_for('get_dirty_flag_summary') }}");
                        if (response.status < 400) {
                            document.getElementById("dirty-flag-data").innerHTML = await response.text();
                        } else {
                            document.getElementById("dirty-flag-data").innerHTML = `Something went horribly wrong. Sorry!`;
                        }
                    } catch (error) {
                        document.getElementById("dirty-flag-data").innerHTML = `Something went horribly wrong. Sorry! Specifically: ${error.message}`;
                    }
                }

                getDirtyFlagSummary();
            </script>
        {% endif %}
    </body>
</html>
